* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    grid-template: 1fr 20fr / 1fr 5fr;
    
    border-color: black;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    grid-row: 1;
    grid-column: 1 / 3;
    background-color: #818cf8;
    color: #404040;
    font-size: 26px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 1;
}

div.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-row: 2 / 3;
    grid-column: 1;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.projects {
    padding-top: 50px;
}


button.addProject {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 120px;
    height: 30px;
    background-color: #38bdf8;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

div.cardformbutton {
    display: flex;
    justify-content: space-evenly;
}

button.cardformbutton {
    width: 70px;
    height: 30px;
    background-color: #8b5cf6;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
}

form#projectForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    padding: 0px 10px;
    align-items: center;
}

button.cardformbutton:hover {
    background-color: #7c3aed;
    cursor: pointer;
}

.content {
    position: relative;
}

button.addCard {
    position: absolute;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    width: 170px;
    height: 60px;
    background-color: #38bdf8;
    border-radius: 10px;
    border: 0px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#projectFormButtons {
    display: flex;
    gap: 20px;
}

button.projectFormButtons {
    width: 60px;
    height: 25px;
    background-color: #38bdf8;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
}

button.addCard:hover,
button.addProject:hover,
button#projectsubmitbutton:hover,
button.projectFormButtons:hover {
    background-color: #0ea5e9;
    cursor: pointer;
}

.todos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 100px;
    padding: 100px;
}

.toDocard {
    display: flex;
    flex-direction: column;
    background-color: #ddd6fe;
    height: 325px;
    width: 250px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-between;
    color: #404040;
    transition: 0.2s;
    transition-timing-function: ease-in;
    gap: 5px;
}

.bigToDoCard {
    justify-self: center;
    font-size: 1.5em;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #ddd6fe;
    padding: 25px;
    border-radius: 10px;
    justify-content: space-between;
    color: #404040;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s;
    transition-timing-function: ease-in;
}

form#cardForm {
    display: flex;
    flex-direction: column;
    background-color: #ddd6fe;
    height: 325px;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-evenly;
}

input[type="text"],
input[type="datetime-local"] {
    appearance: none;
    background-color: #f5f3ff;
    border: 0px;
    height: 27px;
    border-radius: 10px;
    padding: 0px 7px;
    color: #404040;
    font-size: 16px;
}

input#projectinput {
    width: 90%;
    height: 23px;
    background-color: white;
    border: 1px solid #d4d4d4;
}

input#projectinput:focus {
    border: 1px solid #0ea5e9;
}

select {
    background-color: #f5f3ff;
    border: 0px;
    height: 25px;
    border-radius: 10px;
    padding: 0px 5px;
    color: #404040;
    font-size: 16px;

}

select:focus {
    outline: none;
}

textarea {
    padding: 5px;
    appearance: none;
    height: 100px;
    border: 0px;
    border-radius: 10px;
    background-color: #f5f3ff;
    color: #404040;
    font-size: 16px;
}

input:focus {
    outline: none;
    background-color: white;
}

textarea:focus {
    outline: none;
    background-color: white;
}

div.project {
    background-color: #fafafa;
    padding: 15px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

div.projectCounter {
    color: white;
    background-color: #a3a3a3;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.project:hover {
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

::placeholder { 
    color: #404040;
    opacity: 1; 
  }

p.currentproject {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #737373;
    font-size: 22px;
    font-weight: bold;
}

img.cardimg {
    width: 15px;
    height: auto;
}

img.cardimg:hover {
    transform: scale(1.3);
    cursor: pointer;
}

img.addCard {
    width: 30px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(279deg) brightness(106%) contrast(106%);
}

div#cardIcons {
    display: flex;
    justify-content: end;
    gap: 25px;
}

input:invalid,
textarea:invalid {
    border: 2px solid #ef4444;
}

span.errorMessage {
    font-size: 12px;
    color: #ef4444;
}