* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.renderedCard {
    display: flex;
    flex-direction: column;
}

#renderedTitle,
#renderedDescription,
#renderedDueDate,
#renderedPriority {
    gap: 5px;
}

#renderedTitle {
    display: flex;
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}

#renderedDescription {
    display: flex;
    flex-direction: column;
    flex: 3;
}

#renderedDueDate {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#renderedPriority {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.renderedCardHead {
    font-size: 14px;
}

.renderedCardText {
    overflow-wrap: break-word;
    font-size: 18px;
}