* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.renderedCard {
    display: flex;
    flex-direction: column;
}

#renderedTitle,
#renderedDescription,
#renderedDueDate,
#renderedPriority {
    gap: 5px;
}

.toDocard #renderedTitle {
    display: flex;
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}

#renderedDescription {
    display: flex;
    flex-direction: column;
    flex: 3;
}

#renderedDueDate {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#renderedPriority {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.toDocard .renderedCardHead {
    font-size: 14px;
    color: #525252;
}

.toDocard .renderedCardText {
    overflow-wrap: break-word;
    font-size: 18px;
}



.bigToDoCard #renderedTitle {
    display: flex;
    flex: 1;
    font-weight: bold;
    font-size: 30px;
}

.bigToDoCard .renderedCardHead {
    font-size: 20px;
    color: #525252
}

.bigToDoCard .renderedCardText {
    overflow-wrap: break-word;
    font-size: 26px;
}