* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template: 1fr 20fr / 1fr 5fr;
    
    border-color: black;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    grid-row: 1;
    grid-column: 1 / 3;
    background-color: #818cf8;
    color: #404040;
    font-size: 26px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 1;
}

div.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-row: 2 / 3;
    grid-column: 1;
    background-color: white;
    border: 1px solid #e5e5e5;
}

.projects {
    padding-top: 50px;
}


button.addProject {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 120px;
    height: 30px;
    background-color: #38bdf8;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

div.cardformbutton {
    display: flex;
    justify-content: space-evenly;
}

button.cardformbutton {
    width: 70px;
    height: 30px;
    background-color: #8b5cf6;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
}

form#projectForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    padding: 0px 10px;
    align-items: center;
}

button.cardformbutton:hover {
    background-color: #7c3aed;
    cursor: pointer;
}

.content {
    position: relative;
}

button.addCard {
    position: absolute;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    width: 170px;
    height: 60px;
    background-color: #38bdf8;
    border-radius: 10px;
    border: 0px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#projectFormButtons {
    display: flex;
    gap: 20px;
}

button.projectFormButtons {
    width: 60px;
    height: 25px;
    background-color: #38bdf8;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;
}

button.addCard:hover,
button.addProject:hover,
button#projectsubmitbutton:hover {
    background-color: #0ea5e9;
    cursor: pointer;
}

.todos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    gap: 100px;
    padding: 100px;
}

.toDocard {
    display: flex;
    flex-direction: column;
    background-color: #ddd6fe;
    height: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-between;
    color: #404040;
    font-size: 20px;
}

form#cardForm {
    display: flex;
    flex-direction: column;
    background-color: #ddd6fe;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-evenly;
}

input {
    appearance: none;
    background-color: #ede9fe;
    border: 0px;
    height: 27px;
    border-radius: 10px;
    padding: 0px 7px;
    color: #404040;
    font-size: 16px;
}

input#projectinput {
    width: 90%;
    height: 23px;
    background-color: white;
    border: 1px solid #d4d4d4;
}

input#projectinput:focus {
    border: 1px solid #0ea5e9;
}

select {
    background-color: #ede9fe;
    border: 0px;
    height: 25px;
    border-radius: 10px;
    padding: 0px 5px;
    color: #404040;
    font-size: 16px;

}

select:focus {
    outline: none;
}

textarea {
    padding: 5px;
    appearance: none;
    height: 100px;
    border: 0px;
    border-radius: 10px;
    background-color: #ede9fe;
    color: #404040;
    font-size: 16px;
}

input:focus {
    outline: none;
    background-color: white;
}

textarea:focus {
    outline: none;
    background-color: white;
}

div.project {
    background-color: #fafafa;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

div.project:hover {
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

::placeholder { 
    color: #404040;
    opacity: 1; 
  }

p.currentproject {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #404040;
    font-weight: bold;
}

img.cardimg {
    width: 15px;
    height: auto;
}

img.cardimg:hover {
    transform: scale(1.3);
    cursor: pointer;
}

img.addCard {
    width: 30px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(279deg) brightness(106%) contrast(106%);
}

div#cardIcons {
    display: flex;
    justify-content: end;
    gap: 25px;
}